<div class='showcase'>
  <h2 class='beer-title'>{{this.name}}</h2>
  <a class='beer-link' href='/beers/{{this.id}}'><img
      src='{{this.image_url}}'
    /></a>
  <p class='beer-description'>{{this.description}}</p>
  <p class='beer-tagline'>{{this.tagline}}</p>
</div>